* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    font-size: 100%;
}

main { 
    height:80%;
}

#header {
    overflow: hidden;
    background-color: #4a4eb3;
    padding: 15px 15px 0 15px;
    color: white;
    z-index: 200;
    box-shadow: 0 0 4px rgba(0,0,0,.14), 0 4px 8px rgba(0,0,0,.28);
    
    height: 60px;
    vertical-align: middle;
    line-height: 30px;       /* the same as your div height */
}

#header img {
    float: left;
    height: 50px;
    border-radius: 50%;
    margin-right: 20px;
}

.inner {
    
    width: 700px;
    margin: 0 auto;
    overflow: hidden;
}

h1 {
    padding-top: 10px;
    padding-bottom: 10px;
}

h2 {
    padding-bottom: 10px;
}

p {
    font-weight: bold;
}